*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

header{
    background-color: brown;
}


.nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
}